<%= form_for(@audio) do |f| %>
  <% if @audio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audio.errors.count, "error") %> prohibited this audio from being saved:</h2>

      <ul>
      <% @audio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# "authenticity_token=#{token_tag(nil).to_s.split("value=\"").last.split("\"").first}" %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :word_id %><br />
    <%= f.number_field :word_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
