<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @audio.name %>
</p>

<p>
  <b>Language:</b>
  <%= @audio.language %>
</p>

<p>
  <b>Word:</b>
  <%= @audio.word_id %>
</p>

<p>
  <b>User:</b>
  <%= @audio.user_id %>
</p>


<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
