<%= form_for @user_association do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </p>
  <p>
    <%= f.label :association_id %><br />
    <%= f.number_field :association_id %>
  </p>
  <p>
    <%= f.label :word_id %><br />
    <%= f.number_field :word_id %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p><%= f.submit %></p>
<% end %>
