<% title "User Associations" %>

<table>
  <tr>
    <th>User</th>
    <th>Association</th>
    <th>Word</th>
    <th>City</th>
    <th>Region</th>
    <th>Country</th>
  </tr>
  <% for user_association in @user_associations %>
    <tr>
      <td><%= user_association.user_id %></td>
      <td><%= user_association.association_id %></td>
      <td><%= user_association.word_id %></td>
      <td><%= user_association.city %></td>
      <td><%= user_association.region %></td>
      <td><%= user_association.country %></td>
      <td><%= link_to "Show", user_association %></td>
      <td><%= link_to "Edit", edit_user_association_path(user_association) %></td>
      <td><%= link_to "Destroy", user_association, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User Association", new_user_association_path %></p>
