<% title "User Association" %>

<p>
  <strong>User:</strong>
  <%= @user_association.user_id %>
</p>
<p>
  <strong>Association:</strong>
  <%= @user_association.association_id %>
</p>
<p>
  <strong>Word:</strong>
  <%= @user_association.word_id %>
</p>
<p>
  <strong>City:</strong>
  <%= @user_association.city %>
</p>
<p>
  <strong>Region:</strong>
  <%= @user_association.region %>
</p>
<p>
  <strong>Country:</strong>
  <%= @user_association.country %>
</p>

<p>
  <%= link_to "Edit", edit_user_association_path(@user_association) %> |
  <%= link_to "Destroy", @user_association, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_associations_path %>
</p>
