  <div id="notes">
    <ul>
      
      <li>You may skip any word by hitting enter or return.</li>
      <li>if you click the the words in the graph it makes that word the new center.</li>
    </ul>
  </div>
  <!-- <div id="arrow_pointing">
    Word to associate
    <span>
    <%# image_tag("right_arrow.png", :height => 30, :id => "the_arrow") %>
    </span>
  </div> -->
  <div id="random_word">
    <%= random_word.name %>
  </div>
  <div id="rated_or_spam">
    <%= link_to "Spam", flag_or_r_rated_path(:id => random_word.id, :type => "flagged"), :id => "flagged", :remote => true %> 
    or 
    <%= link_to "Rated R", flag_or_r_rated_path(:id => random_word.id, :type => "r_rated"), :id => "r_rated", :remote => true %>
    <div id="thank_you"></div>
  </div>

  <div id="word_association_div">
    <% @association = Association.new %>
    <%= form_for @association, :remote => true, :html => {:onsubmit => '$("#throbber").show();'} do |f| %>
      <%= f.error_messages %>
      <%= f.hidden_field :word_id, :value => random_word.id %>
      <%= f.text_field :name, :placeholder => "Association for #{random_word.name}" %>
      <%= f.submit "Associate", :id => 'association_submit' %>
    <% end %>
  </div>
