<div id="header">  
  <div class="fb-like" data-href="http://wordcraze.scoran.com" data-send="true" data-layout="box_count" data-width="50" data-show-faces="true" data-font="arial"></div>
  <%= image_tag("logoish.png", :class => "image", :height => 30) %>
  
  <%= link_to root_path, :class => @root_path  do %>
    <h2>The Word Craze Game</h2>
  <% end %>
  <div id="location">
    <%# ip_location %>
  </div>
  
  <%= content_for?(:search) ? yield(:search) : render("/shared/search") %>

  <div id="user_links">
    <%= link_to "About", about_path, :class => "user_link_first" %> 
    <%= link_to "Give your feeback", give_feedback_path %> 
    <% if user_signed_in? %>
      <%= link_to "Profile", edit_user_registration_path %> 
      <%= link_to "Logout", logout_path %> 
    <% else %>
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Sign in", login_path, :id => "sign_in_modal" %>
      <%# link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    <% end%>    
  </div>
  
</div>
